@keyframes envelopeAnimation {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-35px);
    }
    100% {
        transform: translateY(0);
    }
}
.envelope {
    animation: envelopeAnimation 2s infinite;
}

.ContactSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    
}
.ContactSection h2 {
    color: #ae0cb1;
    text-align: center;
    font-size: 2.5em;
    font-weight: 800;
    letter-spacing: 2px;
    margin-bottom: 30px;
}
.ContactImage {
    display: none;
}
.ContactContainer {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    max-width: 90vw;
    width: 100%;
    align-items: center;
}
.formContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
}
@media (min-width: 1020px) {
    .formContainer {
        width: 50%;
    }
    .ContactSection {
        flex-direction: column;
        padding: 50px;
    }
    .ContactImage {
        display: block;
        width: 50%;
    }
    .ContactContainer {
        flex-direction: row;
    }
}

form {
    background: rgb(46, 46, 46, 0.5);
    box-shadow: -5px 5px 12px 0px rgba(0, 0, 0, 0.25) inset, 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 1.5em;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
fieldset {
    width: 100%;
    height: 100%;
    padding: 20px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 12px;

}
input {
    height: 40px;
    width: 80%;
}
textarea {
    resize: none;
    width: 100%;
    height: 150px;
    padding: 0;
    margin: 0;
}
.FormButton{
    display: flex;
    justify-content: center;
    margin-top: 25px;
}
.FormButton button {
    background-color: inherit;
    font-family: Inter;
    color: #ae0cb1;
    width: 150px;
    height: 40px;
    border: 3px solid #ae0cb1;
    font-size: 16px;
    font-weight: 500;
}

.FormButton button:hover{
    background-color: #ae0cb1;
    font-family: Inter;
    color: #ffffff;
    width: 150px;
    height: 40px;
    border: 3px solid #ae0cb1;
    font-size: 16px;
    font-weight: 500;
}
.ContactImage {
    max-width: 470px;
    width: 100%;
}

.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 75%;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #ae0cb1;
  outline: 0;
  font-size: 1.3rem;
  color: #ae0cb1;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #9b9b9b;
}

.form__field:focus {
  ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #ae0cb1;
    font-weight:700;    
  }
  padding-bottom: 6px;  
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #ae0cb1,rgb(255, 255, 255));
  border-image-slice: 1;
}
/* reset input */
.form__field{
  &:required,&:invalid { box-shadow:none; }
}