.navbar {
    padding: 15px;
}
.container{
    max-width: 1220px;
    align-items: flex-end;
}
.nav-item a {
    font-size: 24px;
}
.HeaderSection {
    display: flex;
    background-color: transparent;
    justify-content: center;
    padding: 15px;
}
.HeaderContent {
    display: flex;
    align-items: center;
    max-width: 1220px;
    width: 100%;
    justify-content: space-between;
}
.HeaderContent ul {
    display: none;
    column-gap: 45px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.hamburguer {
    background-color: inherit;
    border-radius: 100%;
    height: 60px;
    width: 65px;
    border: none;
    display: inline;
} 

@media (min-width: 512px) {
    .HeaderSection {
        padding: 30px;
    }
    .navbar {
        padding: 30px;
    }
}
@media (min-width: 990px) {
    .hamburguer {
        display: none;
    }    
    .HeaderContent ul {
        display: flex;
    }
    .navbar {
        padding: 20px 50px 20px 50px;
    }
    .nav-item a {
        font-size: 16px;
    }
    .HeaderSection {
        padding: 20px 60px 20px 60px;
    }
}