.ProyectsSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin-top: 15px;
}
.ProyectsCards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 30px;
}
.ProyectsSection h2 {
    color: #FF3F66;
    text-align: center;
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 30px;
}

@media (min-width: 1020px) {
    .ProyectsSection {
        margin: 0;
        padding: 50px;
    }
    .ProyectsCards {
        flex-direction: row;
        max-width: 1220px;
        width: 100%;
        column-gap: 70px;
    }
    .AsideQuerys {
        display: none;
    }    
}